.hidden {
	display: none;
}

body {
	font-family: Marker Felt;
	background-image: url(../img/sweets.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

[href] {
	font-family:Bradley Hand;
	text-decoration: none;
	color: #4080c0;
}

.navbar {
	font-size: 24px;
	background-color: #efecef;
}

#navbar-link {
	padding: 8px;
	margin: 2px;
	box-shadow: 0px 0px 0px 0px #FC5185;
  transition: box-shadow 0.6s linear;
  margin: 0.5em;
	color: #dd84c8;
	font-family: Marker Felt;
}

#navbar-link:hover {
	box-shadow: 0px 0px 0px 2px #4080c0;
	color: #4080c0;
}

.modal {
  color: #aaa;
	min-width: 20rem;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-rows: 80px 100px; 
	text-align: center;
	justify-items: center;
	transition: scale 300ms ease, opacity 200ms ease;
	z-index: 1;
}

.modal > .modal-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  gap: 0.5rem;
}

.modal.obscured {
	scale: 0.95;
	opacity: 0;
	pointer-events: none;
}

.modal#edit-modal {
	background-color: #efecef;
  width: 500px;
  height: 300px;
}

.modal#treat-edit-modal {
	background-color: #efecef;
  width: 600px;
  height: 560px;
}

.modal#treat-delete-modal {
	background-color: #efecef;
  width: 300px;
  height: 300px;
}

.modal#flavor-edit-modal {
	background-color: #efecef;
  width: 300px;
  height: 300px;
}

.modal#flavor-delete-modal {
	background-color: #efecef;
  width: 300px;
  height: 260px;
}

#title-img {
	width: 680px;
}

#title {
	text-align: center;
	padding: 20px;
}

#page-content {
	margin: 10px;
	padding: 20px;
}

#cupcake {
	width: 40px;
	margin: 6px;
}

#accent {
	color: #dd84c8;
}

#blue-accent {
	color: #4080c0;
	font-size: 26px;
}

#blue-btn {
	background-color: #4080c0;
	color: white;
	font-family:Bradley Hand;
	padding: 8px;
	font-size: 18px;
}

#grey-btn {
	background-color: lightgray;
	color: #4080c0;
	font-family:Bradley Hand;
	padding: 4px;
}

#pink-btn {
	background-color: #dd84c8;
	color: white;
	font-family:Bradley Hand;
	padding: 4px;
}

#tiny-btn {
	font-size: 0.6rem;
	padding: 0.8px;
	background-color: lightgray;
}

#accent-font {
	font-family:Bradley Hand;
	color: #dd84c8;
}

#page-links {
  display: absolute;
  margin: 10vw 0 0 0;
}

#page-links span > * {
  padding: 1em 1em 1em 0;
}