<nav class="navbar" style="background-color: #7c9b5c;">
  <div>
    <a href="/" style="color:#4c463d;">Home</a>
    <a href="/Treats" style="color:  #4c463d;">Treats</a>
    <a href="/Flavors" style="color:  #4c463d;">Flavors</a>
    <a href="/Account" style="color:  #4c463d;">Account</a>
  </div>
</nav>