<nav class="navbar">
  <div>
    <a id="navbar-link" href="/">Home</a>
    <a id="navbar-link" href="/Treats">Treats</a>
    <a id="navbar-link" href="/Flavors">Flavors</a>
    <a id="navbar-link" href="/Account">Account</a>
  </div>
</nav>