<nav class="navbar">
  <div>
    <img id="cupcake" src="/img/cupcake.png" alt="white cupcake with blue frosting and colorful sprinkles">
    <a id="navbar-link" href="/">Home</a>
    <img id="cupcake" src="/img/cupcake.png" alt="white cupcake with blue frosting and colorful sprinkles">
    <a id="navbar-link" href="/Treats">Treats</a>
    <img id="cupcake" src="/img/cupcake.png" alt="white cupcake with blue frosting and colorful sprinkles">
    <a id="navbar-link" href="/Flavors">Flavors</a>
    <img id="cupcake" src="/img/cupcake.png" alt="white cupcake with blue frosting and colorful sprinkles">
    <a id="navbar-link" href="/Account">Account</a>
    <img id="cupcake" src="/img/cupcake.png" alt="white cupcake with blue frosting and colorful sprinkles">
  </div>
</nav>