@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<div id="page-content">
  <h2>Add a new flavor profile</h2>

  @using (Html.BeginForm())
  {
    <p>@Html.ValidationMessageFor(model => model.Description, "", new { @id = "accent", @style = "font-weight: 600;" })</p>
    @Html.LabelFor(model => model.Description)
    <br>
    @Html.TextBoxFor(model => model.Description)
    <br><br>
    <input type="submit" value="Add Flavor Profile" id="blue-btn">
    <br><br>
    <h5>@Html.ActionLink("Cancel", "Index")</h5>
  }
</div>